# Python virtual environment
venv/

# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE/editor-specific files
.vscode/
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.cache/
